# Exercise 01: Basics

### Question01 (Basics)
#### for each of the following variables, try to cast them to the requested type. If the conversion is seccessful, write the resulting value. If not, explain why using a comment.

##### Convert to int

In [1]:
price = "15.0"
code = "007"
name = "Alice"
is_active = True # True = 1, False= 0

In [2]:
int(float(price))
int(code)
int(name)

ValueError: invalid literal for int() with base 10: 'Alice'

In [3]:
int(is_active)

1

##### Convert to float

In [3]:
score = "3.14"
amount = "3.15"
value = "NaN" # NaN ==> Not a Number
is_logged_in = False #--> False = 0

In [4]:
float(score)
float(amount)
float(value)
float(is_logged_in)

0.0

##### Convert to str

In [18]:
age = 12
average_score = 17.5
is_verified = True

In [21]:
str(age)
str(average_score)
str(is_verified)

'True'

##### Convert to boolean

In [22]:
username = ""
status = "False"
comment = ""
visits = 0

In [26]:
bool(username)
bool(status)
bool(comment)
bool(visits)

False

### Question02 (Basics)
#### Explain the result of the following codes step by step and write comment for that line by line

In [27]:
price_str = "120.5" # 120.5
price = int(float(price_str)) # float(price_str) --> 120.5 ==> int --> 120
print("price=",price) # price = 120

price= 120

In [28]:
code = str(price) + "0" # ==> "120" + "0" ==> 1200
print("code=", code) # ==> code = 1200

code= 1200

In [29]:
result = code + price_str # 1200 + 120.5 ==> 1200120.5
print("result=", result) # result= 1200120.5

result= 1200120.5

In [30]:
final_price = float(result)  # 1200120.5
print("final_price=", final_price) #final_price= 1200120.5

final_price= 1200120.5

In [31]:
discounted = int(final_price) # 1200120
print("discounted=", discounted) # discounted= 1200120

discounted= 1200120

### Question03 (Basics)
#### Write a python program that takes two float numbers as input from the user. If both numbers are equal, print True. Otherwise, print False.

In [32]:
first_number = float(input("Enter the first number: "))
second_number = float(input("Enter the second number: "))

print(first_number == second_number)

True

### Question04 (Basics)
#### Write a python program that swaps the values of two variables.

In [35]:
a = input("Enter the first number(a): ")
b = input("Enter second number(b): ")

temp = a  
a = b 
b = temp

# a , b = b , a
print("a= ", a)
print("b= ", b)

a=  2
b=  10

### Question05 (Basics)
#### Write a python program with the following variable assignments. Check the output for each one. If there's no error, comment on what the code does. If there's an error, fix it.

In [39]:
price1, price2, price3 = 100,200,30.5
print(price1, price2,",", price3)

100 200 , 30.5

In [42]:
score1 = score2 = 18.9
print(score2)

18.9

In [44]:
str1, str2, str3 = 'python', 'java', "C#"

In [45]:
print(str3)

C#

In [48]:
str1, str2 = 'python', 'java'
print(str2)
print(str1)

java
python